*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /* box-sizing: border-box;
   */
}

h1{
  display: none;
}
.drop{
  text-align: center;
  width:55%;
}
.drop:hover{
  opacity: 50%;
}
.navegacion{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.063);
  background-color: white;
  padding-left: 1px;
  padding-right: 1px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

.lista1{
  display: flex;
  /* margin-left: 15%; */
  /* margin-right: 15%; */
}

.lista1 li{
  padding-top: 2em;
  padding-left: 2.5em;
  padding-right: 1em;
  list-style: none;
}
.lista1 a{
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.lista1 a:hover{
  border-bottom: 1px solid black;
}

#menu{
display: none;
}
#menu:checked ~ ul.lista1{
  display: none;
}

/*section 1*/
.seccion{
  display: flex;
  justify-content: center;

}
.new-video{
  width:70%;
  padding-top: 10%;
}


/*Section 2*/
.products{
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.photo{
  width:70%;
  padding: 1%;
}
.photo:hover{
  filter: saturate(10%);
}
.encima{
  position: absolute;
  top: 35%;
}
.encima h2{
  text-align: center;
  font-weight: 600;
  color: white;
  padding-bottom: 10%;
  font-weight: 600;
}
.encima h2:hover{
  color: black;
}
.Btn{
  /* display: none; */
  /* width: 100%; */
  /* height: 100%; */
  /* border-radius: 12px; */
  padding: 0.5em;
  opacity: 60%;
}
.Btn:hover{
  background-color: black;
  color: white;
}
.Btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 1em;
  letter-spacing: 2px;
}
.Btn a:hover{
  width: 100%;
  height: 100%;
  padding: 1em;
  letter-spacing: 2px;
  color: white;

}

/*Section 3*/
.galeria{
  display: flex;
  justify-content: center;
}

.galeria .film{
  width: 70%;
  padding: 1em;
  margin: 0.5em;
}


/*Section 4*/
.Experience{
  display: flex;
  justify-content: center;
  padding: 5%;
}

.Experience h3{
  text-align: center;
  margin-bottom: 3%;
  font-size:1.2em;
  text-transform: capitalize;
  font-weight: 600;
}
.Experience input{
  width: 20em;
  padding: 0.4em;
}
.Experience label{
  text-transform:capitalize;
  padding-left: 0.4em;
  font-size: 1.1em;
  font-weight: 400;
}


/*NavFooter*/
.navList{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-size: 0.8em;
}
.navList li{
  padding:3%;
}

.navList li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  
}
.navList li a:hover{
border-bottom: 1px solid black;
}

.navFooter p{
  text-align: center;
}

.text{
  text-align: center;
  font-size: 0.6em;
  padding: 1%;
}


