*{
  font-family: 'Source Sans Pro', sans-serif;
}

.video{
  top: 0;
  left: 0;
  object-fit: cover;
  max-width: 100vmax;
  max-height: 100vmax;
  position: fixed;
  z-index: -9999;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  color: white;
}
.contenedorh1 h1{
  font-size: 4em;
  font-weight: 600;
  color: rgb(218, 214, 214);
  text-transform:lowercase;
  /* border-bottom: 2px solid white; */
}
.contenedorh1{
  border-bottom: 2px solid white;
}

p{
  padding-top: 1%;
}

.btn{
  background-color: white;
  width: 10%;
  padding: 0.9%;
  border-radius: 12px;
  border: none;
  margin-top: 1%;
}
.btn:hover{
  background-color: black;
  color: white;
}


.btn a{
  color: black;
  text-transform: capitalize;
  text-decoration: none;

  /* border: noen; */
}
.btn a:hover{
  color: white;
}


footer{
  text-align: center;
  color: white;
}
footer .copy{
  padding-top: 2%;
}
.copy a{
  color: white;
  font-size: 1.2em;
  margin-right: 1%;
}

.copy a:hover{
  color: black;
}

@media (max-width:765px ) {
  .video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .contenedor{
    padding-top: 40%;
  }
  p{
    padding: 5%;
  }
  .btn{
    margin-top: 2%;
    padding: 4.5%;
    width: 40%;
  }
  footer .copy{
    padding-top: 10%;
  }
  .copy a{
    margin-right: 3%;
  }
  

}